:root{
  --basic-black:#000000;
  --basic-normal-black:#283136;
  --basic-red:#FB565A;
  --basic-red-extra:#d6494d;
  --basic-normal-red:#E74246;
  --basic-dark-red: #D7373B;
  --basic-green:#00CA74;
  --basic-notmal-green:#00BC6C;
  --basic-dark-green:#00AA62;
  --basic-yellow:#EFC84A;
  --basic-normal-yellow:#EAB534;
  --basic-dark-yellow:#E5A722;
  --basic-gray: #EEEEEE;
  --extra-gray: #E1E1E1;
  --basic-white: #FFFFFF;
  --basic-normal-white: rgb(255, 255, 255, 0.3);
  --basic-extra-gray: #666666;
  --basic-ultra-gray: #444444;
  }
body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color:var(--basic-normal-black);
  background-color: var(--basic-white);
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

                        /* main-header */
                                          
.main-header-one {
  padding-top: 75px;
  padding-bottom: 9px;
  width: 1160px;
  margin: 0 auto;
  
}
.main-navigation {
  display:grid;
  font-size: 16px;
  line-height: 30px;
  color:var(--basic-black);
  background-color: transparent;
  font-weight: 500;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 26px 71px;
}

.site-navigation a,
.link-basket  {
  color:var(--basic-black);
  text-transform: uppercase;
  
  
}
.site-navigation a ,
.link-basket a {
  padding: 26px 24px;
}
.link-basket {
  padding: 26px 15px;
  padding-left: 50px;
  position: relative;
}
.link-basket::before {
  content: "";
  position: absolute;
  top: 33px;
  left: 10px;
  width: 24px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation-wrapper{
  display:grid;
  grid-template-columns: 1fr 3fr min-content;
  margin: 0;
  padding: 0;
  
}
.site-navigation a:hover,
.link-basket:hover {
  color:var(--basic-red)
}
.site-navigation a:focus,
.link-basket:focus
 {
  color:var(--basic-black);
  opacity: 0.3
}
                       /* container:
                       features */
.content-one{
  background: var(--basic-gray);
}

.features-two{
  background-image: url("../img/nerds-index-slide1.png");
  width: 760px;
height: 431px;
position: relative;
  }
  
  .feature-slide-one{
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    border: 3px solid var(--basic-white);
    border-radius:50%;
    left: 139px;
    top: 317px;
   
  }
  .feature-slide-two{
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    border: 3px solid var(--basic-white);
    border-radius:50%;
    left: 174px;
    top: 317px;
    
  }
  .feature-slide-three{
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    border: 3px solid var(--basic-white);
    border-radius:50%;
    left: 209px;
    top: 317px;
    
  }
  
.conteiner{
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
.features-wrapper{
  display:grid;
  grid-template-columns: 1fr 2fr;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}
.features h3{
  font-size: 55px;
    line-height: 55px;
    color:var(--basic-black);
    font-weight: 500;
    margin-bottom: 25px;
}
    .features p{
      margin-bottom: 38px;
    }
  .link-feature {
    text-align: center;
    color:var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color:var(--basic-red);
    border: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 3px;
    padding: 17px 54px;
  }
  .link-feature:hover{
    background-color:var(--basic-normal-red);
  }
.link-feature:focus{
  color: var(--basic-normal-white);
  background: var(--basic-dark-red);
}
.columns{
  background: var(--basic-gray);
}  
                    /* container:
                       services */
  .services-item {
    list-style: none;
    display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  }
  .services h3 {
    font-size: 24px;
    line-height: 30px;
    color:var(--basic-black);
    font-weight: 700;
    text-transform: uppercase;
  }
  .services-wrapper-one p{
    padding-bottom: 32px;
  }
  
  .link-services-red, .link-services-blue, .link-services-green {
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 3px;
    padding: 17px 54px;
  }
  .link-services-red {
  background-color:var(--basic-red);
  }
  .link-services-red:hover{
    background-color:var(--basic-normal-red);
  }

.link-services-red:focus{
  color: var(--basic-normal-white);
  background: var(--basic-dark-red);
}
.link-services-blue{
  background: var(--basic-green);
}
.link-services-blue:hover{
  background-color:var(--basic-notmal-green)
}
.link-services-blue:focus{
  color: var(--basic-normal-white);
  background: var(--basic-dark-green);
}
.link-services-green{
  background: var(--basic-yellow);
}
.link-services-green:hover{
  background-color:var(--basic-normal-yellow)
}
.link-services-green:focus{
  color: var(--basic-normal-white);
  background: var(--basic-dark-yellow);
}
.services-line{
  content: "";
   height: 2px;
   width: 1158px;
   
   background-color: var(--basic-gray);
   margin-bottom: 39px;
}
                  /* container:
                       information */
.info-wrapper{
  display:grid;
  grid-template-columns: 2fr 1fr;
  margin: 0;
  padding: 0;
  margin-bottom: 73px;

}
.information-scream{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color:var(--basic-black);
  margin-bottom: 32px;
}

.information-red {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-normal-black);
  margin-top: 40px;
  margin-bottom: 23px;
}
.information-orders li{
list-style: none;
margin-bottom: 30px;
   font-size: 16px;
   line-height: 22px;
   padding-left: 0 px;
}
.information-orders li:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color:var(--basic-red);
  margin: 0 11px 4px -37px;
}

.information-list {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color:var(--basic-black);
  margin-top: 37px;
  margin-bottom: 31px;
  margin-left: 20px;
}
.information-percent {
  list-style: none;
display: flex;
padding: 0;
}
.information-percent li{
  margin-right: 22px;
}

.class-one {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
 

}
.class-three{
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}
.class-two {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-normal-black);
  
}
.partners-wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
  list-style: none;
  
  position: relative;
  
  
}
.partners-wrapper li{
  justify-self: center;
  position: relative;
  margin: 0 auto;
  padding: 0 auto;
  
}
.partners-link-one{
  display: inline-block;
  margin-top: 15px;
  
}
.partners-link-extra {
  content: "";
  position: absolute;
   height: 52px;
   width: 2px;
   background-color: var(--basic-gray);
   left: -45px;
top: 23px;
}

.partners-link, .partners-link-one{
  opacity: 0.2;
  justify-self: center;
  
}

.partners-link:hover, .partners-link-one:hover{
  opacity: 1;
}
.partners-link:focus, .partners-link-one:focus{
  opacity: 0.1; 
}
.partner-one{
  content: "";
   height: 2px;
   width: 1158px;
   
   background-color: var(--basic-gray);
   margin-bottom: 46px;
}
.partner-two{
  content: "";
   height: 2px;
   width: 1158px;
   
   background-color:var(--basic-gray);
   margin-bottom: 80px;
   
}
                    /* main-footer
                    footer-contacts */
           
.main-footer-extra h2{
font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
margin-bottom: 22.71px;
}
.footer-item{
  font-size: 16px;
  line-height: 18px;
   color:var(--basic-extra-gray);
   margin-bottom: 47.29px;
 }
.contacts-phone{
   color:var(--basic-extra-gray);
   
}
.contacts-link {
   text-align: center;
  color:var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color:var(--basic-red);
   border: none;
   font-size: 16px;
  line-height: 18px;
   font-weight: 500;
   border-radius: 3px;
   padding: 17px 54px 15px;
}
.contacts-link:hover{
   background-color:var(--basic-normal-red);
 }
.contacts-link:focus{
   color: var(--basic-normal-white);
   background: var(--basic-dark-red);
}
                    
   /* main-footer
   network */
.main-footer-link{
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px; 
                      
 }
 .main-footer{
  position: relative;
 }
 .contacts-image-link{
  position: absolute;
  min-height: 190px;
  width: 231px;
  background: url(../img/map-marker1.png);
  top: 88px;
  left: 852px;
 }
 .main-footer-extra {
  position: absolute;
  top: 54px;
  left: 170px;
  min-height: 308px;
  width: 319px;
  background-color: var(--basic-white);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px  48px  20px;
  
}
.footer-contacts{
 margin: 0 auto;
                      
 text-align: center;
}
                    
.net-wrapper{
  display:grid;
  grid-template-columns:1fr 2fr;
  margin: 0;
  padding: 0;
}
                    
.network-list{
  list-style: none;
}
.network-red {
    font-size: 36px;
    line-height: 36px;
    color:var(--basic-black);
   font-weight: 700;
   margin-top: 0px;
   margin-bottom: 10px;
   margin-left: 15px;
}
.network-blue {
  font-size: 16px;
  line-height: 22px;
  color:var(--basic-ultra-gray);
  margin-left: 15px;
  margin-bottom: 68px;
}
.network-list a {
  position: relative;
  font-size: 0;
  display: inline-block;
  width: 81px;
  height: 81px;
  background-color: var(--extra-gray);
  border-radius: 50%;
  margin-right: 6px;
  margin-top: 4px;
}
.network-link{
  position: absolute;
  margin-left: 30px;
  margin-top: 30px;
}
.network-link-one{
  position: absolute;
  margin-left: 35px;
  margin-top: 30px;
}
.network-link-two{
  position: absolute;
  margin-left: 27px;
  margin-top: 33px;
}



.network-list a:hover {
  background-color: var(--basic-red);
}

.network-list a:active{
  background-color:var(--basic-red-extra);
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
}


.network{
  margin-top: 68px;
}
